 * {
    margin: 0;
    padding: 0;
    font-family: 'poppine',sans-serif;
    box-sizing: border-box;
}
body{
    /* background-color: black; */
    background-image: url(wallpaperflare.com_wallpaper\ \(6\).jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        background-attachment: fixed;
}
.app{
    background: black;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid rgb(2, 230, 2);
}
.app h1{
    color: rgb(2, 230, 2);
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid rgb(2, 230, 2);
    padding: 25px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    color: rgb(2, 230, 2);
    font-size: 18px;
    font-weight: 700;
}
.btn{
    background: black;
    border: 1px solid rgb(2, 230, 2);
    color:  rgb(2, 230, 2);
    font-weight: 600;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: rgb(2, 230, 2);
    color: black;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: rgb(2, 230, 2);
    color: black;
    font-weight: 500;
    width: 150px;
    border-radius: 4px;
    padding: 10px;
    margin: 20px auto 0;
    display: none;
    cursor: pointer;   
}
.correct{
    background-color: rgb(2, 230, 2);
    color: black;
}
.incorrect{
    background-color: rgb(255, 0, 0);
    color: black;
}